php_value display_errors On
php_flag magic_quotes 1
php_flag magic_quotes_gpc 1
php_value mbstring.http_input auto
php_value date.timezone Africa/Lagos
RewriteEngine On
RewriteCond %{HTTPS} Off
RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteEngine on
RewriteRule ^([^/.]+)/?$ $1.php
RewriteRule ^([^/.]+)/?$ $1.html
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [L]
RewriteRule ^r/([^/]+)$ r.php?referer=$1 [L,QSA]
RewriteRule ^r/([^/]+)$ campaign.php?r=$1 [L,QSA]
Options -Indexes
DirectoryIndex index.php
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin https://movybe.com
    Header set Access-Control-Allow-Credentials true
    Header set Connection keep-alive
    </IfModule>
ErrorDocument 403 "/404.php"
ErrorDocument 404 "/404.php"
ErrorDocument 406 "/404.php"
php_value memory_limit 128M
