.bonus-text {
    font-size: 18px !important;
}

@media only screen and (min-width:996px) {


    .badge{
        position : relative !important;
        top : -10px;
        border-radius : 10px !important;
    }
}

li a {
    text-decoration: none;
}
.watch-demo-video.brand-logo{
    font-size: 15px; !important;
    text-decoration: navajowhite;
    font-weight: bolder;
    opacity: .9;
}

.campaign-page-header 
{
    position: relative;
    left : 53px !important;
    font-size: 13px !important;
}

.bullhorn-icon
{
    font-size: 23px !important;
    left : 12px;
    position: relative;
}


.video-container.demo-video-container
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.continue-modal-trigger{
   
    float: right;
}
#close-login-modal{
    float: left;
    position: relative;
    top : 10px;
    left : 5px;
}
.continue-arrow-icon
{
 position: relative;
    top : 6px;
    margin-left: 2px;
}
.back-arrow-icon{
    display: none !important;;
    margin-right: -90px !important;
    position: relative;
    top : 5px;
    
}

.bank-account-details
{
    display: block;
    margin-bottom: 2px;
}

#withdrawal-charge-message{
    display: block;
    margin-top: 10px;
}