
.logo-image.brand-logo.responsive-img{
    max-width : 220px;
    min-width: 150px;
}
#search-button{

    position: relative;
    left: 40px;
    top : 0px;
}

#search-icon{
    position: relative;
    right: 40px;
    cursor: pointer !important;
}
#search-button{
    text-transform: none;
}

.input-group{
    display:table;
    width:100%;
}
.input-group .input-field,
.input-group .input-group-addon{
    display:table-cell;
}
#switch-container{
    float: right;
    position: relative;
    top : 20px;
    width : 100%
}
#main-switch{

    text-align: right;
}
#search-form{
    position: relative;
    right : 6%
}
.search-tabs{
    position: relative;
    top: 40px;
}
.tab-icons{
    width : 30px;
    height : 30px;
    position: relative;
    top : 10px;
    display: block;
    border-radius: 50%;
}

.circular-container{
    width:10%;
    margin: 0 auto;
}

.circle{
    border: 5px solid transparent;
    border-radius: 50%;
}

.circular-loader1{
    width: 50px;
    height: 50px;
    display: table;
    padding: 10px;
    border-top: 5px solid #006495;
    border-bottom: 5px solid #006495;
    animation: circular_loader1 linear 2s infinite;
}

.circular-loader2{
    width: 10px;
    height: 10px;
    display: table-cell;
    border-right: 5px solid #3498db;
    border-left: 5px solid #3498db;
    animation: circular_loader2 linear 2s infinite;
}

@keyframes circular_loader1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circular_loader2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.search-result-preloaders{
    margin-top : 10px;
    margin-bottom: 10px;
}
.search-tabs{
    display: none;
}

.search-result-layout{
    display: block !important;
    margin-top : 100px;

}
.search-result-title-header , .search-result-title-link{
    font-size: 18px;
    color : #1a0dab !important;
    margin-top : 2px;
}

.search-result-title-link:hover{
    text-decoration: underline;
}
.search-result-title-link{
    text-decoration: none;
}
.search-result-link-address{
    display: block;
    margin-top : -14px;
    color : #006621;
    text-decoration: none;

}
.search-result-link-description{
    display: block;
    margin-top : 5px;
    -ms-word-wrap: break-all;
    word-wrap: break-all;
    white-space:normal;
    word-break: break-all;
    overflow-wrap: break-word;
}
.search-result-price{
    position: relative;
    margin-top: 25px;
}
.search-tabs{
    position: relative;
    width : 92%;
    left : 1.0em;
    margin-bottom: 70px;
    top : 10px;
}

fieldset {
    border : none;
}

.search-result-locations{
    position: relative;
    top : 10px;
    left : 10px;
}
.search-location-icons , .search-image-icons{
    position: relative;
    top : 2px;
}
.search-result-images{
    position: relative;
    top : 8px;
    cursor: pointer;
    text-decoration: none;


}
ul.tabs.locale-tabs{
    border-bottom : 1px solid rgba(211 , 211 , 211 , .4);
    box-shadow: none;
}
#data-savings-info{
    position: fixed;
    bottom : 2%;
    right : 7%;
    background-color:#26a69a !important;
}
#did-you-know{
    position: relative;
    left : 15px;
}
.error-text{
    font-size: 23px;
    text-align: center;
    color: grey;

}

div.image-container{
    display : block !important;
    cursor: zoom-in;
    max-width:  300px;
    min-width: 180px;
    min-height: 140px;
    max-height: 200px;
    background-color : rgba(212 , 212 , 212 , .042);
    border-radius: 2px;
    background-repeat: no-repeat;
    position: relative;
    opacity : .8;
}
.blurred-bg , .overlay{
    position: absolute;
    top :0;
    left :0;
    right:0;
    bottom: 0;
    display: block;
    background-repeat: no-repeat;
    border: 0px;
    background-position: 50% 50%;
}
.blurred-bg{
    background-size: cover;
    opacity : .5;
    /* Add the blur effect */
    filter: blur(.089em);
    -webkit-filter: blur(.089em);
}
.overlay{
    background-size: contain;
    position: absolute;

}

#settings-dropdown {
    width : 135px !important;


}
#settings-drop-down-link{
    float: right;
}


#local-search-setting{
    position: relative;
    left : 0px;

}
.lever{
    position:relative;
    left : 4px;
}
#local-search-text{
    left : 4px;
    font-size : 10px;
}
.settings-text{
    position: relative;

}
#show-images-text{
    font-size: 9px;
    left : 5px;
}
#toggle-search-images{

}

.lever.toggle-search-images{
    left : 8px;

}
#download-apk-link{
    font-size: 12px;
    float: left;
    text-align: left;
    text-decoration: none;
}
.app-download-icon.material-icons.small{
    font-size: 12px;
    position: relative;
    top : 2px;
}
#settings-more-icon{
    position: relative;
    top : 7px;
}

.your-gallery{
    font-size: 15px;
}
.load-more-action{
    margin-left: auto;
    margin-right : auto;
    margin-top: 40px;

}
.load-more-action-button-wrapper{
    text-align: center;
}
#tabs{
    overflow-x : hidden;
}

.load-more-error-messages{
    margin-top : 2em !important;

}

#login-proceed.disabled
{
    cursor: not-allowed !important;
}

body{

    margin: 0;
    padding: 0;
    height: 100vh;
}

label.error
{
    color: red;
    font-style: italic;
}

input[type="text"].disabled {
    cursor: not-allowed;
    background-color: lightgrey;
    border-bottom: 1px solid lightgrey;
}
#particles-js{
    height: inherit;
    background-color: #ecf0f5;
    display: block;
}
.activate-account-text{
    font-size: 12px;
    font-weight: bold;
    opacity: .6;
}