.tourJS.overlay-effect.overlay
{
    position: fixed;
    top : 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 , 0 , .5);
    z-index: 100;
}

.tourJS.current-step
{
    z-index: 2000;
    position: relative;
}

#tourJS-tooltip {
    top: 40px;
    position: relative;
    background: #ffffff;
    border: 1px solid #719ECE;  /*set border colour here*/
    width: 100px;
    //height: 80px;
    border-radius: 3px;
    -webkit-filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8)); /*set shadow colour  and size here*/
    -moz-box-shadow: 0 1px 10px rgba(113, 158, 206, 0.8);
    filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
    display: none;
    z-index: 2000;
    font-size: 14px;
    text-align: ;
    padding: 10px;
}

#tourJS-tooltip:after,
#tourJS-tooltip:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#tourJS-tooltip:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 19px;
    left: 50%;
    margin-left: -19px;
}

#tourJS-tooltip:before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: #719ECE;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}
#tourJS-next-tooltip
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    height: 32.4px;
    line-height: 32.4px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: block;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
    
}