{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes"
    //"transform-member-expression-literals",
    //"@babel/plugin-transform-reserved-words",
    //"@babel/plugin-transform-spread"
    //"transform-property-literals"
  ],
  "comments": false,
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}